<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<<<<<<< HEAD
	<div id="header">HEADER</div>
	<%- include('partials/navigation') %>
	<div id="container">
		<%- body %>
	</div>
	
=======
	<%- include('partials/header') %>

	<%- body %>
>>>>>>> origin

	<%- include('partials/footer') %>
</body>
</html>