<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div id="header" >
		<%- include('partials/navigation') %>
	</div>
	<div class="flashes">
		<% if (flashMessages) { %>
			<% if (flashMessages.success) { %>
				<div class="flash success"><%= flashMessages.success %></div>
			<% } else if (flashMessages.error) { %>
				<div class="flash error"><%= flashMessages.error %></div>
			<% } %>
		<% } %>
	</div>
	<br>
	
	<%- body %>


	<%- include('partials/footer') %>
</body>

</html>