<h2>Expenses Table</h2>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Amount</th>
      <th>Paid by</th>
    </tr>
  </thead>
  <tbody>
    <% expense.forEach(expense => { %>
    <tr>
      <td>
        <a href="<%= `/expenses/${expense._id}` %>">
          <%= expense.title %>
        </a>
      </td>
      <td>
        <%= expense.amount %>
      </td>
      <td>
        <%= expense.paidBy %>
      </td>
      <td>
      </td>
      <td>
        <a href="<%= `expenses/${expense._id}/delete` %>" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
      </td>
      <td>
        <a href="<%=`/expenses/${expense._id}/edit`%>">Edit</a>
      </td>
    </tr>
    <% }); %>
    <td>
      <a href="<%= `expenses/new` %>">New</a>
    </td>
  </tbody>
</table>